/* Sidebar General Styling */
.sidebar {
  background-color: #c84c05;
 overflow: hidden;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.sidebar.expanded {
  width: 15%;
}

.sidebar.compressed {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-link {
  width: 100%;
  align-items: center;
  justify-content: start;
} /* Menu Item Styling */
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 1rem; /* Adds space between icon and text */
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
  background-color: #9c2929;
  color: lightgray;
  transform: scale(1.1);
}

.menu-item a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem; /* Ensures consistent spacing for links */
}

/* Bar Icon */
.bar-icon {
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  text-align: right;
  transition: transform 0.3s ease, color 0.3s ease;
}

.bar-icon:hover {
  transform: scale(1.1);
  color: lightgray;
}

/* Menu Styling */
.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
  background-color: #9c2929;

  color: lightgray;
  transform: scale(1.1);
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.submenu {
  list-style: none;
  padding-left: 2rem;
  margin: 0.5rem 0;
}

.submenu li {
  padding: 0.5rem 0;
}

.submenu li a {
  font-size: 0.9rem;
  color: #a0aec0;
  text-decoration: none;
}

.submenu li a:hover {
  color: #63b3ed;
}

/* Profile Section */
.profile-section {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.profile-section a {
  text-decoration: none;
  color: white;
}

.profile-section:hover {
  background-color: #9c2929;
  color: lightgray;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .sidebar.expanded {
    width: 12rem;
  }

  .submenu li a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .sidebar.expanded {
    width: 10rem;
  }

  .menu-item span {
    display: none;
  }
}
